@page "/admin/audit/audit-log"
@using Tionit.ShopOnline.Backoffice.Application.Queries.Log.Models

<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon2-group"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Журнал событий
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <TelerikGrid Class="log-grid" Data="@LogEntries" TotalCount="@TotalCount"
                     Height="500px" Pageable="true" Sortable="true"
                     FilterMode="@GridFilterMode.FilterMenu"
                     OnRead=@OnGridNeedItems>
            <GridColumns>
                <GridColumn Field="@(nameof(AuditLogEntryModel.DateAndTime))" Title="Дата и время" />
                <GridColumn Field="@(nameof(AuditLogEntryModel.Title))" Title="Событие" />
                <GridColumn Field="@(nameof(AuditLogEntryModel.EventTypeName))" Title="Тип события" />
                <GridColumn Field="@(nameof(AuditLogEntryModel.User))" Title="Пользователь" />
                <GridColumn Field="@(nameof(AuditLogEntryModel.Subsystem))" Title="Подсистема" />
            </GridColumns>
            <DetailTemplate>
                <pre>@(context.Message)</pre>
            </DetailTemplate>
        </TelerikGrid>
    </div>
</div>