@page "/admin/orders"

@using Tionit.ShopOnline.Backoffice.Application.Queries.Orders.Models;


<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon2-group"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Заказы
            </h3>
        </div>
    </div>

    <div class="kt-portlet__body">
        <TelerikGrid Class="product-grid" Data="@OrderModelList" TotalCount="@TotalCount" Height="500px" Pageable="true" Sortable="true"
                     FilterMode="GridFilterMode.FilterMenu" OnRead="@OnGridNeedItems">
            <DetailTemplate>
                <TelerikTabStrip>
                    <TabStripTab Title="Позиции заказа">
                        <OrderItems OrderId="@context.Id"></OrderItems>
                    </TabStripTab>
                </TelerikTabStrip>
            </DetailTemplate>
            <GridColumns>
                <GridColumn Field="Действие" Filterable="false" Width="170px">
                    <Template>
                        @{
                            <div class="dropdown actions-column">
                                <button class="btn btn-info actions-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-cog"></i> Действия
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                    <a id="EditAdmin" class="dropdown-item" @onclick="@(()=> UpdateOrder())">
                                        <i class="la la-edit"></i> Редактировать
                                    </a>
                                    <a id="RemoveAdmin" class="dropdown-item" @onclick="@RemoveOrder">
                                        <i class="la la-trash"></i> Удалить
                                    </a>
                                </div>
                            </div>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field="@(nameof(OrderModel.CustomerName))" Title="Имя клиента" />
                <GridColumn Field="@(nameof(OrderModel.DeliveryAddress))" Title="Адрес доставки"/>
                <GridColumn Field="@(nameof(OrderModel.CreationDateTime))" Title="Дата создания заказа"/>
                <GridColumn Field="@(nameof(OrderModel.TotalSum))" Title="Обшая стоимость заказа(₽)"/>
            </GridColumns>
        </TelerikGrid>
    </div>
</div>