@page "/customer/basket"
<link href="Pages/CustomerArea/Basket.razor.css" rel="stylesheet" type="text/css" />
<h3>Корзина</h3>

<table border="1">
    @foreach (var product in ProductModelForBasketList)
    {
        <tr>
            <td>
                <div class="kt-login__logo">
                    <a>
                        <img src="img/close-up-fashion-female-girl.jpg" width="300">
                    </a>
                </div>
            </td>
            <td>
                <div class="product-name">
                    <p>@product.Name</p>
                    <p>Здесь написано какое то описание товара</p>
                </div>
            </td>
            <td class="product-price">
                <div> @product.Price ₽ </div>
            </td>
            <td> <div class="product-quantity">@product.Quantity шт.</div></td>
        </tr>
    }
</table>
@if (Count > 0)
{
    <div class="delivery-address">
        <p>Общая сумма заказа  @TotalSum  ₽</p>
        <p>
            <span>Адрес доставки</span>
            <input type="text" class="input @(Address == string.Empty ? "input-is-invalid" : null)" @bind-value="@Address" @bind-value:event="oninput" placeholder="Адрес доставки *" />
        </p>
    </div>
    <button class="create-order" @onclick="@CreateOrder" disabled="@(string.IsNullOrEmpty(Address))">Создать заказ</button>
}
else
{
    <p>В корзине нет товаров</p>
    <p>Перейдите на страницу товаров</p>
    <button @onclick="GoProductPage">Товары</button>
}