@page "/customer/orders"

<link href="/Pages/CustomerArea/Orders.razor.css" rel="stylesheet" type="text/css">
<h3>Orders</h3>

@foreach (var order in OrderModelList)
{
    <table border="1">


        @foreach (var item in order.OrderItemModelList)
        {
            <tr>
                <td>
                    <div class="kt-login__logo">
                        <a>
                            <img src="img/close-up-fashion-female-girl.jpg" width="300">
                        </a>
                    </div>
                </td>
                <td>
                    <div class="product-name">
                        <p>@item.Name</p>
                        <p>Здесь написано какое то описание товара</p>
                    </div>
                </td>
                <td class="product-price">
                    <div>@item.Price ₽ </div>
                </td>
                <td> <div class="product-quantity">@item.Quantity шт</div></td>
            </tr>


        }
    </table>
    <p style="margin-top: 25px">Общая стоимость заказа @order.TotalSum ₽</p>
    <p>Адрес доставки заказа @order.DeliveryAddress</p>
    <p>Дате создания заказа @order.CreationDateTime</p>

    <hr class="end-order" />
}